<h2>Features</h2>

<dl>
  <dt>MongoDB Driver</dt>
  <dd>A brand new MongoDB driver for Node.js that keeps compatibility
	  with the 1.4.x driver series, only breaking behavior where the
	  1.4.x branch had significant problems. The driver also includes
	  support for the shared CRUD API specification and the Server
	  Discovery and Monitoring Specification (SDAM).</dd>
  <dt>Core driver</dt>
  <dd>The MongoDB Node.js core driver is the new underpinning for the
	  driver and is meant for framework developers that do not need the
	  helpers and abstractions available in the full driver. This driver
	  is not meant for end users, as it offers none of the conveniences
	  of the higher level APIs</dd>.
</dl>
