<h2 id="welcome-to-the-mongodb-and-node.js-site">Welcome To The MongoDB and Node.JS Site</h2>
<p>Node.js Native is the MongoDB official Node.js driver allowing you to use MongoDB in you applications.</p>
<p>This site contains information about the MongoDB driver as well as tutorials, articles and information about using MongoDB with Node.js.</p>
<h2 id="important-information">Important Information</h2>
<ul>
<li><a href="http://learnmongodbthehardway.com/">Learn MongoDB The Hard Way</a></li>
<li><a href="1.4/">1.4.X Documentation</a></li>
<li><a href="2.0/meta/changes-from-1.0">Important Changes from 1.X to 2.X</a></li>
<li><a href="2.0/">2.0.X Documentation</a></li>
<li><a href="http://mongodb.org/">MongoDB Documentation</a></li>
<li><a href="2.0/community/mailing-list">Join the Mailing List</a></li>
<li><a href="https://github.com/mongodb/node-mongodb-native">Star us on GitHub</a></li>
</ul>
